{# settings/downloads.html.twig #}

<div
  id="downloads"
  style="display: {{ display }}">

  <div
    class="panel panel-flat">

    <div
      class="panel-body">
      Изображения
    </div>

    <div
      class="table-responsive">

      <table
        class="table table-striped">

        <tbody>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Загружать изображения:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Изображения будут загружаться автоматически.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                value="0"
                type="hidden"
                name="settings[images_auto_download]">

              <input
                value="1"
                class="switch"
                type="checkbox"
                name="settings[images_auto_download]"
                {{ settings['images_auto_download'] ? 'checked' : '' }}>

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Перезаписывать изображения:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Загрузка изображений будет
                перезаписывать файлы.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                value="0"
                type="hidden"
                name="settings[images_overwrite_download]">

              <input
                value="1"
                class="switch"
                type="checkbox"
                name="settings[images_overwrite_download]"
                {{ settings['images_overwrite_download'] ? 'checked' : '' }}>

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Путь загрузки:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Изображения будут загружаться в папку
                "upload" по указанному пути.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                type="text"
                class="form-control"
                placeholder="введите путь"
                name="settings[images_download_path]"
                value="{{ settings['images_download_path'] }}">

            </td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>

  <div
    class="panel panel-flat">

    <div
      class="panel-body">
      Торрент-файлы
    </div>

    <div
      class="table-responsive">

      <table
        class="table table-striped">

        <tbody>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Загружать торрент-файлы:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Торрент-файлы будут загружаться автоматически.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                value="0"
                type="hidden"
                name="settings[torrents_auto_download]">

              <input
                value="1"
                class="switch"
                type="checkbox"
                name="settings[torrents_auto_download]"
                {{ settings['torrents_auto_download'] ? 'checked' : '' }}>

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Перезаписывать торрент-файлы:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Загрузка торрент-файлов будет
                выполняться в режиме перезаписи.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                value="0"
                type="hidden"
                name="settings[torrents_overwrite_download]">

              <input
                value="1"
                class="switch"
                type="checkbox"
                name="settings[torrents_overwrite_download]"
                {{ settings['torrents_overwrite_download'] ? 'checked' : '' }}>

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Путь загрузки:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Торрент-файлы будут загружаться в папку
                "upload" по указанному пути.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                type="text"
                class="form-control"
                placeholder="введите путь"
                name="settings[torrents_download_path]"
                value="{{ settings['torrents_download_path'] }}">

            </td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>

</div>
