{# settings/general.html.twig #}

<div
  id="sources"
  style="display: {{ display }}">

  <div
    class="panel panel-flat">

    <div
      class="panel-body">
      Moonwalk
    </div>

    <div
      class="table-responsive">

      <table
        class="table table-striped">

        <tbody>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Использовать источник:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Moonwalk будет исользован как
                источник данных.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                value="0"
                type="hidden"
                name="settings[moonwalk_enabled]">

              <input
                value="1"
                class="switch"
                type="checkbox"
                name="settings[moonwalk_enabled]"
                {{ settings['moonwalk_enabled'] ? 'checked' : '' }}>

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Безопасное подключение:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Запросы к Moonwalk будут выполняться
                используя SSL подключение.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                value="0"
                type="hidden"
                name="settings[moonwalk_secure]">

              <input
                value="1"
                class="switch"
                type="checkbox"
                name="settings[moonwalk_secure]"
                {{ settings['moonwalk_secure'] ? 'checked' : '' }}>

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Имя сервера:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Доменное имя для обращений к Moonwalk.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                type="text"
                class="form-control"
                name="settings[moonwalk_host]"
                placeholder="введите имя сервера"
                value="{{ settings['moonwalk_host'] }}">

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Ключ-токен:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Moonwalk Token для запросов к материалам базы.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                type="text"
                class="form-control"
                placeholder="введите токен"
                name="settings[moonwalk_token]"
                value="{{ settings['moonwalk_token'] }}">

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Базовый путь:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Используется для формирования запросов к Moonwalk.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                type="text"
                class="form-control"
                placeholder="введите путь"
                name="settings[moonwalk_base_path]"
                value="{{ settings['moonwalk_base_path'] }}">

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Шаблон плеера:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Для ссылки плеера доступна переменная {path}.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                type="text"
                class="form-control"
                placeholder="введите шаблон"
                name="settings[moonwalk_player_pattern]"
                value="{{ settings['moonwalk_player_pattern'] }}">

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Шаблон постера:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Для ссылки постера доступна переменная {kinopoisk_id}.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                type="text"
                class="form-control"
                placeholder="введите шаблон"
                name="settings[moonwalk_poster_pattern]"
                value="{{ settings['moonwalk_poster_pattern'] }}">

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Шаблон миниатюры:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Для ссылки миниатюры доступна переменная {kinopoisk_id}.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                type="text"
                class="form-control"
                placeholder="введите шаблон"
                name="settings[moonwalk_thumbnail_pattern]"
                value="{{ settings['moonwalk_thumbnail_pattern'] }}">

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Запрашивать скриншоты:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                При запросе видео, так же будут получены скриншоты
                видеоряда.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                value="0"
                type="hidden"
                name="settings[moonwalk_screenshots_enabled]">

              <input
                value="1"
                class="switch"
                type="checkbox"
                name="settings[moonwalk_screenshots_enabled]"
                {{ settings['moonwalk_screenshots_enabled'] ? 'checked' : '' }}>

            </td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>

  <div
    class="panel panel-flat">

    <div
      class="panel-body">
      The Movie Database
    </div>

    <div
      class="table-responsive">

      <table
        class="table table-striped">

        <tbody>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Использовать источник:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                  TMDB будет исользован как
                  источник данных.
                </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                value="0"
                type="hidden"
                name="settings[tmdb_enabled]">

              <input
                value="1"
                class="switch"
                type="checkbox"
                name="settings[tmdb_enabled]"
                {{ settings['tmdb_enabled'] ? 'checked' : '' }}>

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Безопасное подключение:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                  Запросы к TMDB будут выполняться
                  используя SSL подключение.
                </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                value="0"
                type="hidden"
                name="settings[tmdb_secure]">

              <input
                value="1"
                class="switch"
                type="checkbox"
                name="settings[tmdb_secure]"
                {{ settings['tmdb_secure'] ? 'checked' : '' }}>

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Имя сервера:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                  Доменное имя для обращений к TMDB.
                </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                type="text"
                class="form-control"
                name="settings[tmdb_host]"
                placeholder="введите имя сервера"
                value="{{ settings['tmdb_host'] }}">

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Ключ-токен:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                  TMDB Token для запросов к материалам базы.
                </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                type="text"
                class="form-control"
                name="settings[tmdb_token]"
                placeholder="введите токен"
                value="{{ settings['tmdb_token'] }}">

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Базовый путь:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                  Используется для формирования запросов к TMDB.
                </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                type="text"
                class="form-control"
                placeholder="введите путь"
                name="settings[tmdb_base_path]"
                value="{{ settings['tmdb_base_path'] }}">

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Язык:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Выбор языка возвращаемых данных TMDB.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <select
                class="uniform"
                name="settings[tmdb_language]">

                {% for lang in tmdbLanguages %}

                  {% if lang.name is not empty %}

                    <option
                      value="{{ lang['iso_639_1'] }}"
                      {{ settings['tmdb_language'] == lang['iso_639_1'] ? 'selected' : '' }}>
                      {{ lang.name }}
                    </option>

                  {% endif %}

                {% endfor %}

              </select>

            </td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>

  <div
    class="panel panel-flat">

    <div
      class="panel-body">
      Kodik
    </div>

    <div
      class="table-responsive">

      <table
        class="table table-striped">

        <tbody>

        <tr>

          <td
            class="col-xs-6 col-sm-6 col-md-7">

            <h6
              class="media-heading text-semibold">
              Использовать источник:
            </h6>

            <span
              class="text-muted text-size-small hidden-xs">
              Kodik будет исользован как
              источник данных.
            </span>

          </td>

          <td
            class="col-xs-6 col-sm-6 col-md-5">

            <input
              value="0"
              type="hidden"
              name="settings[kodik_enabled]">

            <input
              value="1"
              class="switch"
              type="checkbox"
              name="settings[kodik_enabled]"
              {{ settings['kodik_enabled'] ? 'checked' : '' }}>

          </td>

        </tr>

        <tr>

          <td
            class="col-xs-6 col-sm-6 col-md-7">

            <h6
              class="media-heading text-semibold">
              Безопасное подключение:
            </h6>

            <span
              class="text-muted text-size-small hidden-xs">
              Запросы к Kodik будут выполняться
              используя SSL подключение.
            </span>

          </td>

          <td
            class="col-xs-6 col-sm-6 col-md-5">

            <input
              value="0"
              type="hidden"
              name="settings[kodik_secure]">

            <input
              value="1"
              class="switch"
              type="checkbox"
              name="settings[kodik_secure]"
              {{ settings['kodik_secure'] ? 'checked' : '' }}>

          </td>

        </tr>

        <tr>

          <td
            class="col-xs-6 col-sm-6 col-md-7">

            <h6
              class="media-heading text-semibold">
              Имя сервера фидов:
            </h6>

            <span
              class="text-muted text-size-small hidden-xs">
              Доменное имя для загрузки фидов.
            </span>

          </td>

          <td
            class="col-xs-6 col-sm-6 col-md-5">

            <input
              type="text"
              class="form-control"
              name="settings[kodik_feeds_host]"
              placeholder="введите имя сервера"
              value="{{ settings['kodik_feeds_host'] }}">

          </td>

        </tr>

        <tr>

          <td
            class="col-xs-6 col-sm-6 col-md-7">

            <h6
              class="media-heading text-semibold">
              Имя API сервера:
            </h6>

            <span
              class="text-muted text-size-small hidden-xs">
              Доменное имя для обращений к API.
            </span>

          </td>

          <td
            class="col-xs-6 col-sm-6 col-md-5">

            <input
              type="text"
              class="form-control"
              name="settings[kodik_host]"
              placeholder="введите имя сервера"
              value="{{ settings['kodik_host'] }}">

          </td>

        </tr>

        <tr>

          <td
            class="col-xs-6 col-sm-6 col-md-7">

            <h6
              class="media-heading text-semibold">
              Ключ-токен:
            </h6>

            <span
              class="text-muted text-size-small hidden-xs">
              Kodik Token для запросов к материалам базы.
            </span>

          </td>

          <td
            class="col-xs-6 col-sm-6 col-md-5">

            <input
              type="text"
              class="form-control"
              placeholder="введите токен"
              name="settings[kodik_token]"
              value="{{ settings['kodik_token'] }}">

          </td>

        </tr>

        <tr>

          <td
            class="col-xs-6 col-sm-6 col-md-7">

            <h6
              class="media-heading text-semibold">
              Базовый путь:
            </h6>

            <span
              class="text-muted text-size-small hidden-xs">
              Используется для формирования запросов к Kodik.
            </span>

          </td>

          <td
            class="col-xs-6 col-sm-6 col-md-5">

            <input
              type="text"
              class="form-control"
              placeholder="введите путь"
              name="settings[kodik_base_path]"
              value="{{ settings['kodik_base_path'] }}">

          </td>

        </tr>

        <tr>

          <td
            class="col-xs-6 col-sm-6 col-md-7">

            <h6
              class="media-heading text-semibold">
              Шаблон плеера:
            </h6>

            <span
              class="text-muted text-size-small hidden-xs">
              Для ссылки плеера доступна переменная {path}.
            </span>

          </td>

          <td
            class="col-xs-6 col-sm-6 col-md-5">

            <input
              type="text"
              class="form-control"
              placeholder="введите шаблон"
              name="settings[kodik_player_pattern]"
              value="{{ settings['kodik_player_pattern'] }}">

          </td>

        </tr>

        <tr>

          <td
            class="col-xs-6 col-sm-6 col-md-7">

            <h6
              class="media-heading text-semibold">
              Шаблон постера:
            </h6>

            <span
              class="text-muted text-size-small hidden-xs">
              Для ссылки постера доступна переменная {kinopoisk_id}.
            </span>

          </td>

          <td
            class="col-xs-6 col-sm-6 col-md-5">

            <input
              type="text"
              class="form-control"
              placeholder="введите шаблон"
              name="settings[kodik_poster_pattern]"
              value="{{ settings['kodik_poster_pattern'] }}">

          </td>

        </tr>

        <tr>

          <td
            class="col-xs-6 col-sm-6 col-md-7">

            <h6
              class="media-heading text-semibold">
              Шаблон миниатюры:
            </h6>

            <span
              class="text-muted text-size-small hidden-xs">
              Для ссылки миниатюры доступна переменная {kinopoisk_id}.
            </span>

          </td>

          <td
            class="col-xs-6 col-sm-6 col-md-5">

            <input
              type="text"
              class="form-control"
              placeholder="введите шаблон"
              name="settings[kodik_thumbnail_pattern]"
              value="{{ settings['kodik_thumbnail_pattern'] }}">

          </td>

        </tr>

        </tbody>

      </table>

    </div>

  </div>

  <div
    class="panel panel-flat">

    <div
      class="panel-body">
      HDVB
    </div>

    <div
      class="table-responsive">

      <table
        class="table table-striped">

        <tbody>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Использовать источник:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                HDVB будет исользован как
                источник данных.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                value="0"
                type="hidden"
                name="settings[hdvb_enabled]">

              <input
                value="1"
                class="switch"
                type="checkbox"
                name="settings[hdvb_enabled]"
                {{ settings['hdvb_enabled'] ? 'checked' : '' }}>

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Безопасное подключение:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Запросы к HDVB будут выполняться
                используя SSL подключение.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                value="0"
                type="hidden"
                name="settings[hdvb_secure]">

              <input
                value="1"
                class="switch"
                type="checkbox"
                name="settings[hdvb_secure]"
                {{ settings['hdvb_secure'] ? 'checked' : '' }}>

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Имя сервера:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Доменное имя для обращений к HDVB.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                type="text"
                class="form-control"
                name="settings[hdvb_host]"
                placeholder="введите имя сервера"
                value="{{ settings['hdvb_host'] }}">

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Ключ-токен:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                HDVB Token для запросов к материалам базы.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                type="text"
                class="form-control"
                placeholder="введите токен"
                name="settings[hdvb_token]"
                value="{{ settings['hdvb_token'] }}">

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Базовый путь:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Используется для формирования запросов к HDVB.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                type="text"
                class="form-control"
                placeholder="введите путь"
                name="settings[hdvb_base_path]"
                value="{{ settings['hdvb_base_path'] }}">

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Шаблон плеера:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Для ссылки плеера доступна переменная {path}.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                type="text"
                class="form-control"
                placeholder="введите шаблон"
                name="settings[hdvb_player_pattern]"
                value="{{ settings['hdvb_player_pattern'] }}">

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Шаблон постера:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Для ссылки постера доступна переменная {kinopoisk_id}.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                type="text"
                class="form-control"
                placeholder="введите шаблон"
                name="settings[hdvb_poster_pattern]"
                value="{{ settings['hdvb_poster_pattern'] }}">

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Шаблон миниатюры:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Для ссылки миниатюры доступна переменная {kinopoisk_id}.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                type="text"
                class="form-control"
                placeholder="введите шаблон"
                name="settings[hdvb_thumbnail_pattern]"
                value="{{ settings['hdvb_thumbnail_pattern'] }}">

            </td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>

  <div
    class="panel panel-flat">

    <div
      class="panel-body">
      VideoCDN
    </div>

    <div
      class="table-responsive">

      <table
        class="table table-striped">

        <tbody>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Использовать источник:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                VideoCDN будет исользован как
                источник данных.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                value="0"
                type="hidden"
                name="settings[video_cdn_enabled]">

              <input
                value="1"
                class="switch"
                type="checkbox"
                name="settings[video_cdn_enabled]"
                {{ settings['video_cdn_enabled'] ? 'checked' : '' }}>

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Безопасное подключение:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Запросы к VideoCDN будут выполняться
                используя SSL подключение.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                value="0"
                type="hidden"
                name="settings[video_cdn_secure]">

              <input
                value="1"
                class="switch"
                type="checkbox"
                name="settings[video_cdn_secure]"
                {{ settings['video_cdn_secure'] ? 'checked' : '' }}>

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Имя сервера:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Доменное имя для обращений к VideoCDN.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                type="text"
                class="form-control"
                name="settings[video_cdn_host]"
                placeholder="введите имя сервера"
                value="{{ settings['video_cdn_host'] }}">

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Ключ-токен:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                VideoCDN Token для запросов к материалам базы.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                type="text"
                class="form-control"
                placeholder="введите токен"
                name="settings[video_cdn_token]"
                value="{{ settings['video_cdn_token'] }}">

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Базовый путь:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Используется для формирования запросов к VideoCDN.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                type="text"
                class="form-control"
                placeholder="введите путь"
                name="settings[video_cdn_base_path]"
                value="{{ settings['video_cdn_base_path'] }}">

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Шаблон плеера:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Для ссылки плеера доступна переменная {path}.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                type="text"
                class="form-control"
                placeholder="введите шаблон"
                name="settings[video_cdn_player_pattern]"
                value="{{ settings['video_cdn_player_pattern'] }}">

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Шаблон постера:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Для ссылки постера доступна переменная {kinopoisk_id}.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                type="text"
                class="form-control"
                placeholder="введите шаблон"
                name="settings[video_cdn_poster_pattern]"
                value="{{ settings['video_cdn_poster_pattern'] }}">

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Шаблон миниатюры:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Для ссылки миниатюры доступна переменная {kinopoisk_id}.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                type="text"
                class="form-control"
                placeholder="введите шаблон"
                name="settings[video_cdn_thumbnail_pattern]"
                value="{{ settings['video_cdn_thumbnail_pattern'] }}">

            </td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>

  <div
    class="panel panel-flat">

    <div
      class="panel-body">
      Rutor
    </div>

    <div
      class="table-responsive">

      <table
        class="table table-striped">

        <tbody>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Использовать источник:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Rutor будет исользован как
                источник данных.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                value="0"
                type="hidden"
                name="settings[rutor_enabled]">

              <input
                value="1"
                class="switch"
                type="checkbox"
                name="settings[rutor_enabled]"
                {{ settings['rutor_enabled'] ? 'checked' : '' }}>

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Безопасное подключение:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Запросы к Rutor будут выполняться
                используя SSL подключение.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                value="0"
                type="hidden"
                name="settings[rutor_secure]">

              <input
                value="1"
                class="switch"
                type="checkbox"
                name="settings[rutor_secure]"
                {{ settings['rutor_secure'] ? 'checked' : '' }}>

            </td>

          </tr>

          <tr>

            <td
              class="col-xs-6 col-sm-6 col-md-7">

              <h6
                class="media-heading text-semibold">
                Имя сервера:
              </h6>

              <span
                class="text-muted text-size-small hidden-xs">
                Доменное имя для обращений к Rutor.
              </span>

            </td>

            <td
              class="col-xs-6 col-sm-6 col-md-5">

              <input
                type="text"
                class="form-control"
                name="settings[rutor_host]"
                placeholder="введите имя сервера"
                value="{{ settings['rutor_host'] }}">

            </td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>

</div>
