{# feed-loader/index.html.twig #}

{% set errors = diagnostics.getErrors() %}
{% set warnings = diagnostics.getWarnings() %}

{% extends "base.html.twig" %}

{% block header %}

  {% include 'diagnostics/errors.html.twig' with {'errors': errors, 'warnings': warnings} %}
  {% include 'diagnostics/warnings.html.twig' with {'errors': errors, 'warnings': warnings} %}

{% endblock %}

{% block content %}

  {% if errors is empty %}

    <!-- Section (info) -->
    <div
      class="
        panel
        panel-default
        kc__feed-loader__section
        kc__feed-loader__section_info">

      <div
        class="panel-heading">
        Загрузка фидов
      </div>

      <div
        class="panel-body">

        Раздел позволяет наполнить сайт материалами, обновить
        уже имеющиеся данные, либо удалить новости, которые
        были созданы на основе фидов. Поведение функций данного
        раздела зависит от основных настроек модуля. Перед
        выполнением каких-либо операций рекомендуется сохранить
        резервную копию базы данных, так как обновление или
        удаление новостей невозможно будет отменить.

      </div>

      <hr
        style="margin: 0;"/>

      <table
        class="table table-sm">

        <tbody>

          <tr>

            <td
              class="col-md-3">
              Ограничение загрузки новостей:
            </td>

            <td
              class="col-md-9">
              {{ feedLoaderPostsLimit ? feedLoaderPostsLimit : 'не ограничено' }}
            </td>

          </tr>

          <tr>

            <td
              class="col-md-3">
              Назначение типов в категориях:
            </td>

            <td
              class="col-md-9">
              {{ categoriesFromVideoType ? 'да' : 'нет' }}
            </td>

          </tr>

          <tr>

            <td
              class="col-md-3">
              Назначение жанров в категориях:
            </td>

            <td
              class="col-md-9">
              {{ categoriesFromVideoGenres ? 'да' : 'нет' }}
            </td>

          </tr>

          <tr>

            <td
              class="col-md-3">
              Публиковать новости при создании:
            </td>

            <td
              class="col-md-9">
              {{ feedLoaderPublishCreated ? 'да' : 'нет' }}
            </td>

          </tr>

        </tbody>

      </table>

    </div>

    <!-- Section (moonwalk) -->
    <div
      class="
        panel
        panel-default
        kc__feed-loader__section
        kc__feed-loader__section_moonwalk">

      <div
        class="panel-heading">
        Фиды Moonwalk
      </div>

      <table
        class="table table-sm">

        <tbody>

          <tr>

            <td
              class="col-md-3">
              Используемые фиды:
            </td>

            <td
              class="col-md-9">

              {% if moonwalkFeeds is empty %}

                <span
                  class="text-danger">
                  фидов нет
                </span>

              {% else %}

                <div
                  class="kc__tags">

                  {% for feed in moonwalkFeeds %}

                    <span
                      class="kc__tag">
                      {{ feed.getLabel() }}
                    </span>

                  {% endfor %}

                </div>

              {% endif %}

            </td>

          </tr>

        </tbody>

      </table>

      <hr
        style="margin: 0;"/>

      <div
        class="panel-body">

        <div
          class="progress">

          <!-- Progress Bar (moonwalk) -->
          <div
            style="width: 0;"
            class="
              progress-bar
              progress-blue
              kc__feed-loader__progress-bar
              kc__feed-loader__progress-bar_moonwalk">

            <span></span>

          </div>

        </div>

      </div>

      <hr
        style="margin: 0;"/>

      <!-- Status Bar -->
      <div
        class="
          panel-body
          kc__feed-loader__status-bar">

        <div>

          <!-- Feed Posts Count (moonwalk) -->
          <span
            class="
              kc__feed-loader__feed-posts-count
              kc__feed-loader__feed-posts-count_moonwalk">
            {{ moonwalkFeedPostsCount }}
          </span>

          <!-- Status Label -->
          <div
            class="kc__feed-loader__status-label">
            загружено
          </div>

        </div>

        <div>

          <!-- Feed Posts Updated (moonwalk) -->
          <span
            class="
              kc__feed-loader__feed-posts-updated
              kc__feed-loader__feed-posts-updated_moonwalk">
            0
          </span>

          <!-- Status Label -->
          <div
            class="kc__feed-loader__status-label">
            обновлено
          </div>

        </div>

        <div>

          <!-- Feed Posts Skipped (moonwalk) -->
          <span
            class="
              kc__feed-loader__feed-posts-skipped
              kc__feed-loader__feed-posts-skipped_moonwalk">
            0
          </span>

          <!-- Status Label -->
          <div
            class="kc__feed-loader__status-label">
            пропущено
          </div>

        </div>

      </div>

      <div
        class="panel-footer"
        style="text-align: right;">

        <!-- Clean Posts Button (moonwalk) -->
        <button
          class="
            btn
            btn-sm
            disabled
            btn-raised
            legitRipple
            bg-brown-400
            kc__feed-loader__clean-posts-button
            kc__feed-loader__clean-posts-button_moonwalk">
          Удалить загруженное
        </button>

        <!-- Update Posts Button (moonwalk) -->
        <button
          class="
            btn
            btn-sm
            disabled
            btn-raised
            legitRipple
            bg-info-600
            position-right
            kc__feed-loader__update-posts-button
            kc__feed-loader__update-posts-button_moonwalk">
          Начать обновление
        </button>

        <!-- Create Posts Button (moonwalk) -->
        <div
          class="
            btn
            btn-sm
            bg-teal
            disabled
            btn-raised
            legitRipple
            position-right
            kc__feed-loader__create-posts-button
            kc__feed-loader__create-posts-button_moonwalk">
          Начать загрузку
        </div>

      </div>

    </div>

    <!-- Section (kodik) -->
    <div
      class="
        panel
        panel-default
        kc__feed-loader__section
        kc__feed-loader__section_kodik">

      <div
        class="panel-heading">
        Фиды Kodik
      </div>

      <table
        class="table table-sm">

        <tbody>

          <tr>

            <td
              class="col-md-3">
              Используемые фиды:
            </td>

            <td
              class="col-md-9">

              {% if kodikFeeds is empty %}

                <span
                  class="text-danger">
                  фидов нет
                </span>

              {% else %}

                <div
                  class="kc__tags">

                  {% for feed in kodikFeeds %}

                    <span
                      class="kc__tag">
                      {{ feed.getLabel() }}
                    </span>

                  {% endfor %}

                </div>

              {% endif %}

            </td>

          </tr>

        </tbody>

      </table>

      <hr
        style="margin: 0;"/>

      <div
        class="panel-body">

        <div
          class="progress">

          <!-- Progress Bar (kodik) -->
          <div
            style="width: 0;"
            class="
              progress-bar
              progress-blue
              kc__feed-loader__progress-bar
              kc__feed-loader__progress-bar_kodik">

            <span></span>

          </div>

        </div>

      </div>

      <hr
        style="margin: 0;"/>

      <!-- Status Bar -->
      <div
        class="
          panel-body
          kc__feed-loader__status-bar">

        <div>

          <!-- Feed Posts Count (kodik) -->
          <span
            class="
              kc__feed-loader__feed-posts-count
              kc__feed-loader__feed-posts-count_kodik">
            {{ kodikFeedPostsCount }}
          </span>

          <!-- Status Label -->
          <div
            class="kc__feed-loader__status-label">
            загружено
          </div>

        </div>

        <div>

          <!-- Feed Posts Updated (kodik) -->
          <span
            class="
              kc__feed-loader__feed-posts-updated
              kc__feed-loader__feed-posts-updated_kodik">
            0
          </span>

          <!-- Status Label -->
          <div
            class="kc__feed-loader__status-label">
            обновлено
          </div>

        </div>

        <div>

          <!-- Feed Posts Skipped (kodik) -->
          <span
            class="
              kc__feed-loader__feed-posts-skipped
              kc__feed-loader__feed-posts-skipped_kodik">
            0
          </span>

          <!-- Status Label -->
          <div
            class="kc__feed-loader__status-label">
            пропущено
          </div>

        </div>

      </div>

      <div
        class="panel-footer"
        style="text-align: right;">

        <!-- Clean Posts Button (kodik) -->
        <button
          class="
            btn
            btn-sm
            disabled
            btn-raised
            legitRipple
            bg-brown-400
            kc__feed-loader__clean-posts-button
            kc__feed-loader__clean-posts-button_kodik">
          Удалить загруженное
        </button>

        <!-- Update Posts Button (kodik) -->
        <button
          class="
            btn
            btn-sm
            disabled
            btn-raised
            legitRipple
            bg-info-600
            position-right
            kc__feed-loader__update-posts-button
            kc__feed-loader__update-posts-button_kodik">
          Начать обновление
        </button>

        <!-- Create Posts Button (kodik) -->
        <div
          class="
            btn
            btn-sm
            bg-teal
            disabled
            btn-raised
            legitRipple
            position-right
            kc__feed-loader__create-posts-button
            kc__feed-loader__create-posts-button_kodik">
          Начать загрузку
        </div>

      </div>

    </div>

    <div
      style="margin-bottom: 30px;">

      <a
        href="{{ router.resolveUrl() }}"
        class="
          btn
          btn-raised
          legitRipple
          position-left
          bg-primary-600">
        Вернуться
      </a>

    </div>

  {% else %}

    <div
      class="
        alert
        alert-danger
        alert-arrow-left
        alert-styled-left
        alert-component message_box">

      <h4>
        Раздел недоступен!
      </h4>

      <div
        class="panel-body">

        <!-- Section Message -->
        <div
          class="kc__section-message">

          <!-- Image of Section Message -->
          <img
            class="kc__section-message__image"
            src="/engine/modules/kinocomplete/web/assets/images/banners/fail-banner.png"/>

          <!-- Title of Section Message -->
          <div
            class="kc__section-message__title">
            Диагностика модуля оповестила об ошибках.
          </div>

          <p>
            Что бы восстановить функционал данного раздела,
            исправьте все ошибки указанные в начале страницы.
          </p>

        </div>

      </div>

      <div
        class="panel-footer">

        <div
          class="text-center">

          <a
            href="{{ router.resolveUrl() }}"
            class="btn btn-sm bg-teal btn-raised legitRipple">
            Вернуться назад
          </a>

        </div>

      </div>

    </div>

  {% endif %}

{% endblock %}

{% block assets %}

  <style>
    {{ source('feed-loader/style.css') }}
  </style>

  <script
    src="/engine/modules/kinocomplete/web/dist/injections/feed-loader.min.js">
  </script>

{% endblock %}
